In [2]:
import tabula
import pandas as pd

In [15]:
df = tabula.read_pdf('Resources/SD_Master_All.pdf', multiple_tables=True, pages='all')

In [16]:
len(df)

23

In [58]:
for i in range (1, len(df)):
    print('df index '+str(i))
    print(df[i])
    print('-'*60)

df index 1
                                                    0       1
0                                       DOMAIN RECORD  LENGTH
1                        SD STUDENT DISABILITY RECORD      40
2                                                 NaN     NaN
3                                    Reporting Domain     NaN
4                                                 NaN     NaN
5   The following record layout indicates the form...     NaN
6   students who have been accepted into the DSP&S...     NaN
7                                       as a contact.     NaN
8                                                 NaN     NaN
9   Report one record for each student who had one...     NaN
10  They need not have been enrolled in a course t...     NaN
11                                                NaN     NaN
12  This record is 40 characters long and the firs...     NaN
13  with these records is submitted approximately ...     NaN
------------------------------------------------------------
df index 2
       0                              1                  2       3         4
0   DED#                            NaN  Data Element Name  Format  Position
1    NaN                            NaN                NaN     NaN       NaN
2   GI90                    Record-Code                NaN    “SD”   001-002
3   GI01    District-College-Identifier                NaN   X(03)   003-005
4   GI03                Term-Identifier                NaN   X(03)   006-008
5   SB02           Student-Name-Partial                NaN   X(03)   009-011
6   SB00             Student-Identifier                NaN   X(09)   012-020
7   SD01     Student-Primary-Disability                NaN   X(01)       021
8   SD02                         Filler                NaN   X(03)   022-024
9   SD03                         Filler                NaN   X(01)       025
10  SD04                         Filler                NaN   X(03)   026-028
11  SD05  Student-Disability-Dept-Rehab                NaN   X(01)       029
12   NaN                         Filler                NaN   X(11)   030-040
------------------------------------------------------------
df index 3
                                                   0  \
0                                               DED#
1                                               SD01
2                                                NaN
3  This element indicates the type of disability ...

                            1       2
0           DATA ELEMENT NAME  FORMAT
1  STUDENT-PRIMARY-DISABILITY       X
2                         NaN     NaN
3                         NaN     NaN
------------------------------------------------------------
df index 4
                                                    0  \
0                                              Coding
1                                                 NaN
2                                                   M
3                                                   V
4                                                   H
5                                                   D
6                                                   B
7                                                   L
8                                                   P
9                                                   A
10                                                  U
11                                                  O
12                                                NaN
13  NOTE: For definitions of the disability catego...

                                                   1
0                                            Meaning
1                                                NaN
2                                Physical Disability
3                               Blind and Low Vision
4                     Deaf and Hard of Hearing (DHH)
5                       Intellectual Disability (ID)
6                        Acquired Brain Injury (ABI)
7                                Learning Disability
8                           Mental Health Disability
9   Attention Deficit Hyperactivity Diso rder (ADHD)
10                                   Autism Spectrum
11         Other Health Conditions and Dis abilities
12                                               NaN
13                                               NaN
------------------------------------------------------------
df index 5
                  0                             1
0  Processing Edits                           NaN
1               NaN                           NaN
2       FIELD CHECK  M, V, H, D, B, L, P, A, U, O
3               NaN                           NaN
------------------------------------------------------------
df index 6
                                                    0
0                                      Change History
1                                                 NaN
2     Revision:  Effective 08/24/17  Summer Term 175.
3           Removed Code S = Speech/Language Impaired
4   Updated code definitions to align with Title 5...
5                                                 NaN
6   Revision:  05/13/16Effective Academic Year 201...
7   Added Code A = Attention Deficit Hyperactivity...
8                      Added Code U = Autism Spectrum
9   Updated Code D = “Developmentally Delayed Lear...
10  Updated Code P = “Psychological Disability” to...
11  Modified Note:  For definitions of the disabil...
12                                           to 56044
13                                                NaN
14  Revision:  06/12/06  Modified  Note:  For defi...
15  Title 5 Sections 56032, 56034, 56036, 56038, 5...
16                                                NaN
17  Revision: 05/01/93 Added Code O= Other Disabil...
18  the disability categories listed above, extrac...
19                                  56042, and 56044.
20                                                NaN
21  Revision: 09/30/92 Added Code P = Psychologica...
22                                                NaN
23  Revision:  01/02/91 Added Code O = Other Physical
24                                                NaN
25                               Implement:  06/01/89
------------------------------------------------------------
df index 7
                                                   0  \
0                                               DED#
1                                               SD02
2                                                NaN
3  This element indicates the number of service c...

                                             1       2
0                            DATA ELEMENT NAME  FORMAT
1  STUDENT-PRIMARY-DISABILITY-SERVICE-CONTACTS   9(03)
2                                          NaN     NaN
3                                          NaN     NaN
------------------------------------------------------------
df index 8
                                                   0
0                                             Coding
1                                                NaN
2  Enter the appropriate 3 digit integer (i.e. 00...
------------------------------------------------------------
df index 9
                  0                                     1
0  Processing Edits                                   NaN
1               NaN                                   NaN
2       FIELD CHECK  Must be numeric.  Cannot exceed 499.
3               NaN                                   NaN
------------------------------------------------------------
df index 10
                                                    0
0                                      Change History
1                                                 NaN
2      Deleted:  Effective 08/24/17  Summer Term 175.
3                                                 NaN
4   Brought Back:  05/01/93 New Data Element Prima...
5                                                 NaN
6                                  Deleted:  01/02/91
7                                                 NaN
8   Implement:  06/01/89 Original Name – Primary-D...
9   This element indicates the level of services r...
10                                        disability.
11                                                NaN
12                                      CodingMeaning
13                                     FFull Services
14                                  LLimited Services
------------------------------------------------------------
df index 11
                                                   0  \
0                                               DED#
1                                               SD03
2                                                NaN
3  This element indicates student’s secondary dis...

                              1       2
0             DATA ELEMENT NAME  FORMAT
1  STUDENT-SECONDARY-DISABILITY       X
2                           NaN     NaN
3                           NaN     NaN
------------------------------------------------------------
df index 12
                                                    0  \
0                                              Coding
1                                                 NaN
2                                                   M
3                                                   V
4                                                   H
5                                                   S
6                                                   D
7                                                   B
8                                                   L
9                                                   P
10                                                  A
11                                                  U
12                                                  O
13                                                NaN
14                                     Not Applicable
15                                                NaN
16                                                  N
17                                                NaN
18  NOTE: For definitions of the disability catego...

                                                  1
0                                           Meaning
1                                               NaN
2                                 Mobility Impaired
3                                 Visually Impaired
4                                  Hearing Impaired
5                          Speech/Language Impaired
6                   Developmentally Delayed Learner
7                             Acquired Brain Injury
8                                 Learning Disabled
9                          Psychological Disability
10  Attention Deficit Hyperactivity Disorder (ADHD)
11                                  Autism Spectrum
12                                 Other Disability
13                                              NaN
14                                              NaN
15                                              NaN
16    Student does not have a secondary disability.
17                                              NaN
18                                              NaN
------------------------------------------------------------
df index 13
                  0                                                  1
0  Processing Edits                                                NaN
1               NaN                                                NaN
2       FIELD CHECK                 M, V, H, S, D, B, L, P, A, U, O, N
3               NaN                                                NaN
4   INTEGRITY CHECK  If Student Secondary Disability (SD03) is equa...
5               NaN  Disability), then Secondary Disability Service...
------------------------------------------------------------
df index 14
                                                    0
0                                      Change History
1                                                 NaN
2      Deleted:  Effective 08/24/17  Summer Term 175.
3                                                 NaN
4   Revision:  05/13/16Effective Academic Year 201...
5   Added Code A = Attention Deficit Hyperactivity...
6                      Added Code U = Autism Spectrum
7   Updated Code D = “Developmentally Delayed Lear...
8   Updated Code P = “Psychological Disability” to...
9   Modified Note:  For definitions of the disabil...
10                                           to 56044
11                                                NaN
12  Revision:  06/12/06 Modified note:  For defini...
13  Title 5 Section 56032, 56034, 56036, 56038, 56...
14                                                NaN
15  Revision:  05/01/93 Added Code O = Disability ...
16  of the disability categories listed above, ext...
17                                   56042, and 56044
18                                                NaN
19  Revision:  09/30/92 Added Code P = Psychologic...
20                                                NaN
21  Revision:  01/02/91 Added Code O = Other Physi...
22                                                NaN
23                               Implement:  06/01/89
------------------------------------------------------------
df index 15
                                                   0  \
0                                               DED#
1                                               SD04
2                                                NaN
3  This element indicates the number of service c...

                                               1       2
0                              DATA ELEMENT NAME  FORMAT
1  STUDENT-SECONDARY-DISABILITY-SERVICE-CONTACTS   9(03)
2                                            NaN     NaN
3                                            NaN     NaN
------------------------------------------------------------
df index 16
                                                   0
0                                             Coding
1                                                NaN
2  Enter the appropriate 3-digit integer (i.e. 00...
3                                                NaN
------------------------------------------------------------
df index 17
                  0                                                  1
0  Processing Edits                                                NaN
1               NaN                                                NaN
2       FIELD CHECK                Must be numeric.  Can’t exceed 499.
3               NaN                                                NaN
4   INTEGRITY CHECK  If Student Secondary Disability (SD03) is equa...
5               NaN                                                NaN
------------------------------------------------------------
df index 18
                                                    0
0                                      Change History
1                                                 NaN
2      Deleted:  Effective 08/24/17  Summer Term 175.
3                                                 NaN
4                   Added New Data Element:  05/01/93
5                                                 NaN
6                                  Deleted:  01/02/91
7                                                 NaN
8   Implement:  06/01/89 Original  Student-Disabil...
9   This element indicates the age range when the ...
10                                         identified
11                                                NaN
12                                      CodingMeaning
13                                        1Congenital
14                           2Birth – 18 years of age
15                              319 – 37 years of age
16                              438 – 55 years of age
17                          556 years of age and over
18                                           Xunknown
------------------------------------------------------------
df index 19
                                                   0       1
0                             DED# DATA ELEMENT NAME  FORMAT
1                 SD05 STUDENT-DISABILITY-DEPT-REHAB       X
2                                                NaN     NaN
3  This element indicates whether the student is ...     NaN
4                               State of California.     NaN
5                                                NaN     NaN
6       This information is supplied by the student.     NaN
------------------------------------------------------------
df index 20
        0                                                  1
0  Coding                                            Meaning
1       0  Student is not a consumer of the De pt of Reha...
2     NaN                                                NaN
3       1  Student is a consumer of the Dept of Re habili...
------------------------------------------------------------
df index 21
                   0     1
0  Processing  Edits   NaN
1                NaN   NaN
2        FIELD CHECK  0, 1
------------------------------------------------------------
df index 22
                                                   0
0                                     Change History
1                                                NaN
2  Revision:  06/12/06 Change ‘client’ to ‘consumer’
3                                                NaN
4                               Implement:  06/01/89
------------------------------------------------------------

In [61]:
print(df[3].iloc[[3]][0][3])
df[4].dropna().set_axis([df[4].dropna().iloc[0,0], df[4].dropna().iloc[0,1]], axis=1, inplace=False).drop([0], axis=0)

This element indicates the type of disability which is the student’s primary disability.

   Coding                                           Meaning
2       M                               Physical Disability
3       V                              Blind and Low Vision
4       H                    Deaf and Hard of Hearing (DHH)
5       D                      Intellectual Disability (ID)
6       B                       Acquired Brain Injury (ABI)
7       L                               Learning Disability
8       P                          Mental Health Disability
9       A  Attention Deficit Hyperactivity Diso rder (ADHD)
10      U                                   Autism Spectrum
11      O         Other Health Conditions and Dis abilities

In [59]:
df_two = tabula.read_pdf('Resources/GI_Master_All.pdf', multiple_tables=True, pages='all')
len(df_two)

19

In [60]:
for i in range (1, len(df_two)):
    print('df index '+str(i))
    print(df_two[i])
    print('-'*60)

df index 1
                                                   0  \
0                                               DED#
1                                               GI01
2                                                NaN
3  This three-character code uniquely identifies ...
4                                                NaN
5  The data element is included in all input reco...

                             1       2
0            DATA ELEMENT NAME  FORMAT
1  DISTRICT-COLLEGE-IDENTIFIER   X(03)
2                          NaN     NaN
3                          NaN     NaN
4                          NaN     NaN
5                          NaN     NaN
------------------------------------------------------------
df index 2
                                                   0
0                                             Coding
1                                                NaN
2  The three-character code for the reporting col...
------------------------------------------------------------
df index 3
                   0                                                  1
0  Processing  Edits                                                NaN
1                NaN                                                NaN
2        FIELD CHECK  Must match one of the three-digit College or D...
3                NaN                                                NaN
------------------------------------------------------------
df index 4
                      0
0        Change History
1                   NaN
2  Implement:  06/01/89
------------------------------------------------------------
df index 5
                                                   0       1
0                             DED# DATA ELEMENT NAME  FORMAT
1                     GI02 DISTRICT-COLLEGE-DIVISION   X(03)
2                                                NaN     NaN
3  This data element identifies an organization u...     NaN
4  It is included in the input files for Section,...     NaN
------------------------------------------------------------
df index 6
                  0        1
0  Processing Edits      NaN
1               NaN      NaN
2       FIELD CHECK  DELETED
------------------------------------------------------------
df index 7
                       0
0         Change History
1                    NaN
2     Deleted:  02/01/91
3                    NaN
4  Implement::  06/01/89
------------------------------------------------------------
df index 8
                                                   0       1
0                             DED# DATA ELEMENT NAME  FORMAT
1                               GI03 TERM-IDENTIFIER   X(03)
2                                                NaN     NaN
3  This data element identifies a term within an ...     NaN
4  occurs in all input records submitted by the c...     NaN
------------------------------------------------------------
df index 9
                                                    0  \
0                                      Coding Meaning
1                                                 NaN
2                              Format is  YYT,  where
3   YY last two digits of the calendar year in whi...
4   T single-digit term-type identifier listed below.
5                                                 NaN
6                                      Code Term Type
7                                                 NaN
8                                       5 Summer Term
9                                     7 Fall Semester
10                              1 Winter Intersession
11                                  3 Spring Semester
12                                                NaN
13                                   6 Summer Quarter
14                                     8 Fall Quarter
15                                   2 Winter Quarter
16                                   4 Spring Quarter
17                                                NaN
18                   Annual (enter year the reporting
19                                                  0
20                                       period ENDS)
21                                9 Fall First Census
22                                   College Calendar
23                                                  0
24                         (report for upcoming year)

                                            1
0                                         NaN
1                                         NaN
2                                         NaN
3                                         NaN
4                                         NaN
5                                         NaN
6   Examples using the 2010-11 academic year:
7                                         NaN
8                                         105
9                                         107
10                                        111
11                                        113
12                                        NaN
13                                        106
14                                        108
15                                        112
16                                        114
17                                        NaN
18                                        NaN
19                                        110
20                                        NaN
21                                        109
22                                        NaN
23                                        120
24                                        NaN
------------------------------------------------------------
df index 10
                   0                                                  1
0  Processing  Edits                                                NaN
1                NaN                                                NaN
2        FIELD CHECK              Valid Term ID Format is ‘YYT’, where:
3                NaN  YY = last two digits of the calendar year in w...
4                NaN                        T = one-digit Term Code 0-9
------------------------------------------------------------
df index 11
                                                    0
0                                      Change History
1                                                 NaN
2   Revision:  01/27/03 Changed note 0 = Annual (e...
3   ENDS), and College Calendar.  Took out Employe...
4                                                 NaN
5   Revision:  10/10/00 Expanded note for 0 = Annu...
6   period ENDS), Employee Actual, and College Cal...
7   reporting period).  Note:  College Calendar da...
8   submissions are reported for the preceding yea...
9                                                 NaN
10  Revision:  01/01/96 Code 0 Added Employee Actu...
11  which the reporting data period ENDS.  Note Ca...
12  Annual submissions are reported for the preced...
13                                                NaN
14  Revision:  05/01/94  Added (Use for Employee f...
15                                                NaN
16                                Implement: 06/01/89
------------------------------------------------------------
df index 12
                                                   0                  1  \
0                                               DED#  DATA ELEMENT NAME
1                                               GI90        RECORD-CODE
2                                                NaN                NaN
3  A record code used in the first two positions ...                NaN

        2
0  FORMAT
1      XX
2     NaN
3     NaN
------------------------------------------------------------
df index 13
                                                   0
0                                             Coding
1                                                NaN
2  Refer to the section Data Reporting Timelines,...
------------------------------------------------------------
df index 14
                                                   0  \
0                                  Processing  Edits
1                                                NaN
2                                        FIELD CHECK
3  Example:  SB for Student Basic data, SD for DS...

                                                   1
0                                                NaN
1                                                NaN
2  First two positions of each record must be cor...
3                                                NaN
------------------------------------------------------------
df index 15
                     0
0       Change History
1                  NaN
2  Implement: 05/01/94
------------------------------------------------------------
df index 16
                                                   0       1
0                             DED# DATA ELEMENT NAME  FORMAT
1                      GI92 RECORD-NUMBER-IDENTIFIER       X
2                                                NaN     NaN
3  A record code used to prevent duplicate record...     NaN
4  one award with all the same characteristics is...     NaN
------------------------------------------------------------
df index 17
                   0         1
0  Processing  Edits       NaN
1                NaN       NaN
2        FIELD CHECK  0-9, A-Z
------------------------------------------------------------
df index 18
                                                   0
0                                     Change History
1                                                NaN
2  Revision:  09/25/06 Changed coding: A one char...
3  and ‘A’ through ‘Z’ enter sequentially for eac...
4                                                NaN
5  Revision:  05/01/93 Changed coding: A one char...
6  entered sequentially for each additional record’.
7                                                NaN
8                               Implement:  09/30/92
------------------------------------------------------------

In [180]:
print(df_two[8].iloc[[3]][0][3] + ' ' + df_two[8].iloc[[4]][0][4])
term_df = pd.concat([df_two[9].iloc[8:12], df_two[9].iloc[13:16], df_two[9].iloc[18:24]])\
    .set_axis([df_two[9].dropna().iloc[0,0], df_two[9].dropna().iloc[0,1]], axis=1, inplace=False)

term_desc = term_df['Code Term Type']
term_ex = term_df['Examples using the 2010-11 academic year:']
term_desc[18] = term_desc.drop(19).drop(23)[18]=term_desc.drop(19).drop(23)[18]+' '+term_desc.drop(19).drop(23)[20]

term_ex = term_ex.dropna()
term_desc = term_desc.drop(19).drop(20).drop(23)

term_df=pd.DataFrame([term_desc.reset_index()['Code Term Type'], term_ex.reset])

term_df

This data element identifies a term within an academic year as well as the academic year itself.  It occurs in all input records submitted by the colleges.

,8,9,10,11,13,14,15,18,19,21,22,23
Code Term Type,5 Summer Term,7 Fall Semester,1 Winter Intersession,3 Spring Semester,6 Summer Quarter,8 Fall Quarter,2 Winter Quarter,Annual (enter year the reporting period ENDS),NaN,9 Fall First Census,College Calendar,NaN
Examples using the 2010-11 academic year:,105,107,111,113,106,108,112,NaN,110,109,NaN,120

In [165]:
term_ex = term_ex.dropna()
term_desc = term_desc.drop(19).drop(20).drop(23)

In [166]:
len(term_desc), len(term_ex)

(10, 10)

In [186]:
term_desc.reset_index()['Code Term Type']

0                                    5 Summer Term
1                                  7 Fall Semester
2                            1 Winter Intersession
3                                3 Spring Semester
4                                 6 Summer Quarter
5                                   8 Fall Quarter
6                                 2 Winter Quarter
7    Annual (enter year the reporting period ENDS)
8                              9 Fall First Census
9                                 College Calendar
Name: Code Term Type, dtype: object

In [100]:
df_two[9][0][18:24].tolist()

['Annual (enter year the reporting',
 '0',
 'period ENDS)',
 '9 Fall First Census',
 'College Calendar',
 '0']

In [117]:
print(df[3].iloc[[3]][0][3])
df[4].dropna().set_axis([df[4].dropna().iloc[0,0], df[4].dropna().iloc[0,1]], axis=1, inplace=False).drop([0], axis=0)

This element indicates the type of disability which is the student’s primary disability.

   Coding                                           Meaning
2       M                               Physical Disability
3       V                              Blind and Low Vision
4       H                    Deaf and Hard of Hearing (DHH)
5       D                      Intellectual Disability (ID)
6       B                       Acquired Brain Injury (ABI)
7       L                               Learning Disability
8       P                          Mental Health Disability
9       A  Attention Deficit Hyperactivity Diso rder (ADHD)
10      U                                   Autism Spectrum
11      O         Other Health Conditions and Dis abilities

In [71]:
print(df_two[8].iloc[[3]][0][3]+ ' '+ df_two[8].iloc[[4]][0][4])

This data element identifies a term within an academic year as well as the academic year itself.  It occurs in all input records submitted by the colleges.